 body {
    clear: both;
    display: flex;
    justify-content: center;
    align-items: center;     
}
.slider{
    width:800px;
    height:500px;
    border-radius:50px;
    overflow:hidden;
    box-shadow: 2px 10px 20px 5px grey;
}
.slides{
    width: 500%;
    height: 500px;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    width:20%;
    transition: 2s;
}
.slide img{
    width:100%;
    height:100%;
} 
.manual{
    position: absolute;
    width:800px;
    margin-top:-40px;
    display: flex;
    justify-content: center;
    justify-content: center;
}
.manuals{
    border:5px solid powderblue;
    padding: 5px;
    border-radius:10px;
    cursor: pointer;
    transition: 1s;
}
.manuals:not(:last-child){
    margin-right: 50px;
}
/*.manuals:hover{
    border:10px solid skyblue;
    border-radius:100px;
    background:powderblue;
}*/
#r1:checked ~ .f{
    margin-left: 0%;
}#r2:checked ~ .s{
    margin-left: -20%;
}#r3:checked ~ .t{
    margin-left: -40%;
}

.auto{
    position: absolute;
    width:800px;
    margin-top:460px;
    display: flex;
    justify-content: center;
    
}
.auto div{
    border:5px solid red;
    padding: 5px;
    border-radius:10px;
    transition: 1s; 
}
.auto div:not(:last-child){
    margin-right: 50px;   
}
#r1:checked ~ .auto .auto1{
    background-color: yellow;
}#r2:checked ~ .auto .auto2{
    background-color: yellow;
}#r3:checked ~ .auto .auto3{
    background-color: yellow;
}